{% extends "lims/base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"/>
{% endblock head %}

{% block content %}
<h1 class="border-bottom">Resident Surveys</h1>
<div class="d-grid gap-2 d-md-block mt-2 mb-2">
    <a class="btn btn-primary btn" href="{% url 'lims:new_resident_survey' request.resolver_match.kwargs.event %}" role="button">New Resident Survey <span data-feather="plus"></span><span data-feather="user"></span></a>
</div>
    <table id="survey_table" class="display table table-hover"  align="center"  style="width:100%"> 
        <thead>
            
            <tr>
                <th>Survey ID</th>
                <th>Event</th>
                <th>Subject Given Name</th>
                <th>Subject Family Name</th>
                <th>Years of residency</th>
                <th>Months of residency</th>
                <th>Visited water source</th>
                <th>Contact with water source</th>
                <th>Name of water source</th>
                <th>Location of water source</th>
                <th>Water source notes</th>
                <th>Barefoot near water source</th>
                <th>Animals near water source</th>
                <th>Type of animals near water source</th>
                <th>Rats/mice near house</th>
                <th>Rats/mice seen during day</th>
                <th>Rats/mice seen during night</th>
                <th>Rat/mice frequency</th>
                <th>Rate/mice notes</th>
                <th>Animal contact</th>
                <th>Animal contact frequency</th>
                <th>Animal contact type(s)</th>
                <th>Barefoot around house</th>
                <th>Boil water</th>
                <th>Created on</th>
            </tr>
        </thead>
        <tbody>
            {% for survey in resident_survey_list %}
                <tr>
                    <td>
                        <a class="table-link" href="{% url 'lims:resident_survey_detail' pk=survey.id event=survey.event.id %}">
                            {{ survey.id }}</a>                        
                    </td>
                    <td>
                        <a class="table-link" href="{% url 'lims:event_detail' survey.event.id %}">
                        {{ survey.event.name }}</a>
                    </td>
                    <td>
                        <a class="table-link" href="{% url 'lims:subject_detail' survey.subject.id %}">
                        {{ survey.subject.given_name }}</a>
                    </td>
                    <td>
                        <a class="table-link" href="{% url 'lims:subject_detail' survey.subject.id %}">
                        {{ survey.subject.family_name }}</a>
                    </td>
                    <td>
                        {{  survey.years_of_residency }}
                    </td>
                    <td>
                        {{  survey.months_of_residency }}
                    </td>
                    <td>
                        {{  survey.visited_water_source }}
                    </td>
                    <td>
                        {{  survey.contact_with_water_source }}
                    </td>
                    <td>
                        {{  survey.name_of_visited_water_source }}
                    </td>
                    <td>
                        {{  survey.location_of_visited_water_source }}
                    </td>
                    <td>
                        {{  survey.visited_water_source_notes }}
                    </td>
                    <td>
                        {{  survey.barefoot_near_water_source }}
                    </td>
                    <td>
                        {{  survey.animals_near_water_source }}
                    </td>
                    <td>
                        {{ survey.type_of_animal_near_water_source.all | join:", " }}         
                    </td>
                    <td>
                        {{  survey.rats_near_house }}
                    </td>
                    <td>
                        {{  survey.rats_near_house_day }}
                    </td>
                    <td>
                        {{  survey.rats_near_house_night }}
                    </td>
                    <td>
                        {{  survey.rat_frequency }}
                    </td>
                    <td>
                        {{  survey.rats_notes }}
                    </td>
                    <td>
                        {{  survey.animal_contact }}
                    </td>
                    <td>
                        {{  survey.animal_contact_frequency }}
                    </td>
                    <td>
                        {{ survey.animal_contact_type.all | join:", " }}         
                    </td>
                    <td>
                        {{  survey.barefood_around_house }}
                    </td>
                    <td>
                        {{  survey.boil_water }}
                    </td>
                    <td>
                        {{  survey.created_on }}
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.3/js/dataTables.rowGroup.min.js"></script>
<script>
    $(document).ready( function () {
    $('#survey_table').DataTable({
    rowReorder: false,
    fixedHeader: true,
    order: [],
    stateSave: true,
    aLengthMenu: [
            [25, 50, 100, 200, -1],
            [25, 50, 100, 200, "All"]
            ],
    iDisplayLength: 25,
    dom: 'B<"clear">lfrtip',
    buttons: {
        name: 'primary',
        buttons: [ 
        {
          extend: 'copy',
          title: 'Test List'
        },
        {
          extend: 'pdf',
          title: 'Test List'
        },
        {
          extend: 'csv',
          title: 'Test List'
        },
        {
          extend: 'excel',
          title: 'Test List'
        }]
        }}
    );
} );
</script>
{% endblock js %}
