{% extends "lims/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" source="{% static 'lims/data-tables/css/editor.dataTables.min.css' %}"/>
<link rel="stylesheet" type="text/css" source="{% static 'lims/data-tables/css/editor.bootstrap5.min.css' %}"/>
{% endblock head %}

{% block content %}

{% csrf_token %}

        
<h1 class="border-bottom mb-6">Uploaded Samples</h1>


    
<table id="sample_table" class="display table table-hover"  align="center"  style="width:100%"> 
    <thead>
        
        <tr>
            <th>Sample ID</th>
            <th>Subject Given Name</th>
            <th>Subject Family Name</th>
            <th>Event</th>
            <th>Location</th>
            <th>Neighborhood</th>
            <th>Collection Status</th>
            <th>Sample Type</th>
            <th>Sample Source</th>
            <th>Upload Status</th>
        </tr>
    </thead>
    
</table>


{% endblock content %}


{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rr-1.2.8/sb-1.2.2/sl-1.3.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.3/js/dataTables.rowGroup.min.js"></script>
<script type="text/javascript" src="{% static 'lims/data-tables/js/dataTables.editor.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lims/data-tables/js/editor.bootstrap5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lims/data-tables/js/editor.dataTables.min.js' %}"></script>
<script>

$(document).ready(function() {
    var collection_status = {
        Collected: "success",
        'Not Collected': "warning",
        Pending: "secondary",
        Refused: "warning",
        Withdrew: "danger",
    }

    let data = {{ data | safe }}
    $('#sample_table').DataTable({
    rowReorder: false,
    stateSave: true,
    fixedHeader: true,
    data: data,
    idSrc: 'id',
    order: [],
    aLengthMenu: [
            [25, 50, 100, 200, -1],
            [25, 50, 100, 200, "All"]
            ],
         iDisplayLength: 25,
    dom: 'B<"clear">lfrtip',
    columns: [

            { data: "Sample ID" },
            { data: "Subject Given Name" },
            { data: "Subject Family Name" },
            { data: "Event" },
            { data: "Location" },
            { data: "Neighborhood" },
            { 
                "data": "Collection Status",
                render: function ( status ) {
                            return status ?
                                `<span class="badge bg-${collection_status[status]}">${status}</span>` : null     
                        }
            },
            { data: "Sample Type"},
            { data: "Sample Source"},
            { 
                "data": "Upload Status",
                render: function ( status ) {
                            return status == "Success!" ?
                                `<span class="badge bg-success">${status}</span>`:
                                `<span class="badge bg-danger">${status}</span>`
                        }
            },

   
        ],
    select: true,
    }
    );
} );
</script>
{% endblock js %}