{% extends 'lims/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if validlink %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-6">Change Password</legend>
                    {{ form | crispy }}
            </fieldset>
            <button class="btn btn-success mt-2" type="submit">Submit</button>
        </form>
    {% else %}
    <h3 class="text-danger border-bottom">Invalid Link</h3>
    <p>The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.</p>
    <a class="btn btn-success" href="{% url 'password_reset' %}">Try Again</a>
    
    {% endif %}
{% endblock %}

